{% extends 'base.html' %}
{% block title %}Add Pet{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-3 text-center m-3">Add Pet</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden'%}
                <div class="form-group">
                    {{field.label}}
                    {{field(class_="form-control")}}
            
                    {% for error in field.errors %}
                    <small class="form-text text-danger">
                        {{error}}
                    </small>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn add-pet-btn">Add Pet</button>
                <a href="/" class="btn home-page-btn">Go Back</a>
            </form>
        </div>
    </div>
</div> 
{% endblock %}