{% extends 'base.html' %}
{% block title %} Home page {% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-3 title">Pets</h1>
    <div class="row mb-4">
        {% for pet in pets %}
        <div class="col-md-4">
            <img src="{{pet.photo_url}}" class="img-fluid img-thumbnail" alt="{{pet.name}} is a {{pet.species}} up for adoption">
            <span><a href="/pets/{{pet.id}}" class="pet-name">{{pet.name}}</a><b class="pet-status"> is available!</b></span>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="/pets/new" class="btn add-pet-btn text-light mt-4">Add a Pet</a>
    </div>
</div>
{% endblock %}