{% extends 'base.html' %}
{% block title %} Home page {% endblock %}
{% block content %}
<div class="container">
    <h1 class="mb-4 mt-2 display-3">Pets</h1>
    <div class="row">
        {% for pet in pets %}
        <div class="col-md-4">
            <img src="{{pet.photo_url}}" class="img-fluid" alt="{{pet.name}} is a {{pet.species}} up for adoption">
            <span class="pet-name">{{pet.name}}<b class="pet-status"> is available!</b></span>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <button class="btn add-pet-btn text-light">Add a Pet</button>
    </div>
</div>
{% endblock %}